html,
body {
  margin: 0;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.p-16 {
  padding: 16px;
}

.pokemon {
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
}

.pokemon:hover {
  box-shadow: 0 0 0 2px paleturquoise;
}

.modal {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.top-right-corner {
  top: 4px;
  right: 4px;
}

.middle {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.left {
  left: -36px;
}

.right {
  right: -36px;
}

.z-index-1 {
  z-index: 1;
}

.minimal-button {
  height: 32px;
  background: none;
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s linear;
}

.minimal-button-secondary {
  background: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.5);
}

.minimal-button-circle {
  margin: 4px 8px;
  background: rgba(0, 0, 0, 0.25);
  width: 16px;
  height: 16px;
}

.selected,
.minimal-button-circle:hover {
  background: rgba(0, 0, 0, 0.5);
}

.modal__close:hover {
  color: black;
}

.large-pokemon {
  background-color: white;
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.ImageSet__image-container {
  transition: opacity 0.4s ease-in-out;
}

.initialImage:hover {
  opacity: 0;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.Gallery__buttons {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
